<!-- templates/index.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Konva & Flask Map</title>
    <script src="/static/js/konva.js"></script>    <style>
      #container {
        width: 100%;
        height: 100vh;
      }
    </style>
</head>
<body>
    <div id="container"></div>
    <script>
        const stage = new Konva.Stage({
            container: 'container',
            width: 1920,
            height: 2522,
        });

        const layer = new Konva.Layer();
        stage.add(layer);

        fetch('/map_data')
            .then(response => response.json())
            .then(mapData => {
                mapData.floors.forEach(floor => {
                    floor.rooms.forEach(room => {
                        let rect = new Konva.Rect({
                            x: room.x,
                            y: room.y,
                            width: room.width,
                            height: room.height,
                            fill: room.fill || 'white',
                            stroke: 'black',
                            strokeWidth: 1
                        });
                        layer.add(rect);
                        if (room.id) {
                            const text = new Konva.Text({
                                x: room.x + 10,
                                y: room.y + 10,
                                text: room.id,
                                fontSize: 12,
                                fill: 'black',
                            });
                            layer.add(text);
                        }
                    });

                    floor.paths.forEach(path => {
                        const konvaPath = new Konva.Path({
                            data: path.d,
                            fill: path.fill,
                            stroke: path.stroke,
                            strokeWidth: path.stroke_width
                        });
                        layer.add(konvaPath);
                    });

                    floor.roads.forEach(road => {
                    const line = new Konva.Line({
                        points: [road.start.x, road.start.y, road.end.x, road.end.y],
                        stroke: 'grey', // Цвет дороги
                        strokeWidth: 2,
                      });
                    layer.add(line)
                    });

                    layer.draw();
                });
            });
    </script>
</body>
</html>
