  <!DOCTYPE html>
  <html lang="ru">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <title>Интерактивная карта</title>
      <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
      <div class="app-container">
          <div class="header">
              <select id="floor-select">
                  <option value="0">0 этаж</option>
                  <option value="1">1 этаж</option>
                  <option value="2">2 этаж</option>
                  <option value="3">3 этаж</option>
                  <option value="4">4 этаж</option>
              </select>
          </div>
          <div id="container" class="map-container"></div>
      </div>

      <script src="/static/js/konva.js"></script>
      <script src="/static/js/map.js"></script>
  </body>
  </html>